.Post-preview{
    padding:1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.Post-preview__title {
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: 500;
    margin: 0;
}
.Post-preview__header, .Post__header{
    justify-content: flex-end;
    color: grey;
    display:flex;
    align-items: center;
    border-bottom: solid #ccc 1px;
}
.Post-preview__header__subtitle, .Post__header__subtitle{
    font-size: 0.7rem;
    margin: 0 1rem;
    min-width: 6rem;
}
.Post-preview__content, .Post__content{
    margin: 3rem 0;
    padding-left: 0.5rem;
}
.Post-preview__link{
    
    text-decoration: none;
    color:  white;
    margin-right: 1rem;
    align-self: flex-end;
    background: orange;
    padding: 0.5rem;
}
.Post-preview__link:hover {
    background:#ddd;
}
.Post{
    padding:1rem;
    margin: 0 2rem;
}
.Post__title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}