.Home{
    max-width: 900px;
}
.Home__header{
    color: #464646;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.Home__header__title{
    border: none;
    margin:0 ;
}
.Home__spinner-container{
    position: absolute;
    top: 60%;
}
.Call-to-action-btn{
    align-self: center;
    background: #FFBF6F;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}

.Call-to-action-btn:hover{
    background: #EA927F;
}
.Container{
    min-height:7rem;
    display: flex;
    flex-flow: column;
    align-items: center;
}

@media(max-width: 700px) {
    .Home__header__title{
        font-size: 1.5rem;
    }
}