.Home{
    padding: 2rem 0;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-flow:column;
    align-items: center;
    max-width: 900px;
    width:100%;
}
.Home__header{
    color: #464646;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.Home__header__title{
    border: none;
    margin:0 ;
}
.Call-to-action-btn{
  
    align-self: center;
    background: #FFBF6F;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}

.Call-to-action-btn:hover{
    background: #EA927F;
}