.Home{
    padding: 2rem 0;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
    display:flex;
    flex-flow:column;
    align-items: center;
    /* max-width: 700px; */
    max-width: 900px;
    width:100%;
}
.Home__header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4rem;

}
.Home__header__title{
    border: none;
    margin:0 ;
}
.Call-to-action-btn{
  
    align-self: center;
    background: orange;
    padding: 1rem;
    color: white;
    text-decoration: none;
}