.Post-preview{
    padding:3rem 0;
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: column;
    border-top: solid rgba(200, 200, 200, 0.5) 1px;
}

.Post-preview__title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin: 0;
}
.Post-preview__content{
    padding:1rem;
    margin-bottom: 1rem;
}
.Post-preview__link{
    text-decoration: none;
    color:  #00C896;
    margin-right: 3rem;
    align-self: flex-end;
    padding: 0.5rem;
    font-size: 0.9rem;
}
.Post-preview__link:hover {
    color: black;
}

@media(max-width: 700px) {
    .Post-preview__title{
        font-size: 1.2rem;
    }
    .Post-preview__header{
        flex-wrap: wrap-reverse;
    }
    .Post-preview__header__subtitle{
        font-size: 0.6rem;
    }
    .Post-preview__content{
        width: 90%;
    }
}