.Post-preview{
    padding:3rem 1rem;
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: column;
    border-top: solid rgba(200, 200, 200, 0.5) 1px;
}
.Post-preview__header{
    justify-content: flex-start;
}
.Post-preview__header__subtitle{
    font-size: 0.8rem;
    color: #181818;
}
.Post-preview__title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    margin: 0;
}
.Post-preview__content{
    margin-bottom: 1rem;
}
.Post-preview__link{
    text-decoration: none;
    color:  #00C896;
    margin-right: 3rem;
    align-self: flex-end;
    padding: 0.5rem;
    font-size: 0.9rem;
}
.Post-preview__link:hover {
    color: black;
}