.TagsList{
    padding:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}
.TagsList__element{
    font-size: 0.7rem;
    margin: 0.2rem 0.5rem;
    color:inherit;
    text-decoration: none;
    background:#F2ECFF;
    border-radius: 20px;
    padding: 0.2rem 0.5rem;
}
.TagsList__element:hover{
    color: white;
    background-color: #FFBF6F;
}
.TagsList__element a{
    width: 100%;
    height:100%;
    color: inherit;
    text-decoration: none;
}