.SignForm{
    display:flex;
    flex-flow: column;
    align-items:  flex-start;
    width:100%;
    max-width: 400px;
    padding:1rem;
    position:relative;
}
.SignForm label{
    width: 100%;
    margin-bottom: 1rem;
    text-transform: capitalize;
}
.SignForm__input, textarea{
    width:100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
}
.SignForm__input:focus{
    outline: none;
}
.SignForm textarea{
    height:4rem;
}
.SignForm textarea:focus{
    height:4rem;
    outline: none;
}
.form__error{
    color: #EA927F;;
}
.SignForm__button{
    cursor: pointer;
    padding:1rem;
    border: none;
    background: #ccc;
    max-width: 6rem;
}
.SignForm__button:hover{
    background:#999;
}

.SignForm__loader-container{
    position: relative;
    left: 30%;
    bottom: 10%;
}