.field{
    width: 100%;
    margin-bottom:1rem;
    text-transform: capitalize;
}
.field__input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
}
.field__textarea{
    resize: none;

    width:100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
}
.field__error{
    width:100%;
    display: block;
    height: 1rem;
    color: #EA927F;
}