.Header{
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #464646;
    width: 100%;
    padding:2rem 0;
    color: white;
}
.Header__nav{
    margin-right:3rem;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.Header__nav__el{
    margin: 0 1rem;
    color: white;
}
.Header__nav__el:hover{
    text-decoration: underline;
}
.Header__nav__el a{
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.Header__nav__btn{
    padding: 1rem;
    background:#FFBF6F;
    color: white;
}
.slider-menu-wrapper{
    z-index:100;
    display: none;
}

.hamburger-btn{
    top: 50%;
    transform: translate(0, -50%);
    right: 3rem;
    position: absolute;
    z-index:200;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 2rem;
    width: 2rem;
    padding:0;
    border: none;
    background: 0;
}
.hamburger-btn__inner{
    width: 80%;
    height: 2px;
    background: white;
}
@media(max-width: 700px) {
    .Header__nav{
        display: none;
    }

    .slider-menu-wrapper{
        display: block;
    }
}