.Header{
    /* padding: 1rem; */
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    background: rgb(70, 70, 70);
    width: 100%;
    color: white;
}
/* .Header__nav--center {
    
} */
.Header__nav--right {
    position: absolute;
    right:2%;
}
.Header ul{
    padding:0;
    list-style: none;
    display: flex;
}
.Header__nav__el{
    margin: 0 1rem;
    color: white;
}
.Header__nav__el:hover{
    text-decoration: underline;
}
.Header__nav__el a{
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
}