.SignUp{
    display:flex;
    flex-flow: column;
    align-items:  flex-start;
    width:100%;
    max-width: 400px;
    padding:1rem;
}
.SignUp label{
    width: 100%;
    margin-bottom: 1rem;
}
.SignUp input{
    width:100%;
    padding: 0.5rem;
    
}
.form__error{
    color: red;
}
.SignUp button{
    cursor: pointer;
    padding:1rem;
    border: none;
    background: #ccc;
    max-width: 6rem;
}
.SignUp button:hover{
    background:#999;
}