.Tag-array{
    position: relative;
    line-height: 1.1rem;
    border: 1px solid #ccc;
    /* min-width:400px;
    max-width:600px; */
    width:400px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0.5rem 0.2rem;
    align-items: center;
}
.Tag__input {
    font-size: 1.2rem;
    border: none;
    position: relative;
    flex-grow: 1;
    resize: none;
    display: inline-block;
    min-width:100px; 
    appearance: none ;
}
.Tag__input:focus {
    outline:none;
    
}
.Tag-array__element{
    align-items: center;
    display: flex;
    margin:0.2rem;
    padding: 0.2rem 0.7rem;
    background: rgb(240, 240, 240);
    border-radius: 10px;
    position: relative;
    align-items: center;
}