#root{
    height:100%;
}
.App {
    display:flex;
    flex-flow:column;
    align-items: center;
    justify-content: space-between;
    height:100%;
}
body, html{
    height: 100%;
}
body{
    background: #e3e4e6;
}
.title{
    width: 80%;
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e3e4e6;
}

